@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-color: #181A1B;
    color: #E8E6E3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

ul {
    margin: 0 10%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style: none;
}

button {
    background-color: inherit;
    font-size: 1.5em;
    padding: 5px 10px;
    color: inherit;
    border: none;
    cursor:pointer;
    transition: .2s ease-in;
}

button:hover {
    color: #3391FF;
}

button:active {
    position: relative;
    top: 1px;
}

.btn-pink {
    background-color: #FF1AA1;
    border-radius: 5px;
}

.btn-pink:hover {
    background-color: #ff1aa0bf;
    color: #AAA;
}

.btn-pink:active {
    position: relative;
    top: 1px;
}


.container {
    margin: 10px auto;
    height: 500px;
    width: 500px;
    display: grid;
    background-color: white;
    box-shadow: hsla(240, 5%, 41%, 0.803) 0px 7px 29px 0px;
}