@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.main {
    background-color: #181A1B;
    color: #E8E6E3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.menu {
    margin: 0 10%;
}

ul {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style: none;
}

button {
    background-color: inherit;
    font-size: 1.5em;
    margin: 1em .5em;
    padding: 0 .10rem;
    color: inherit;
    border: none;
    cursor: pointer;
    transition: .2s ease-in;
}

button:hover {
    color: #3391FF;
}

button:active {
    position: relative;
    top: 1px;
}

.btn-blue {
    background-color: #0052CC;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: rgba(180, 180, 181, 0.25) 0px 30px 60px -12px inset, rgba(201, 200, 200, 0.3) 0px 18px 36px -18px inset;
}

.btn-blue:hover {
    background-color: #0052cc90;
    color: #AAA;
}

.btn-blue:active {
    position: relative;
    top: 1px;
}


.canvas {
    margin: 10px auto;
    height: 75vh;
    width: 75vh;
    display: grid;
    background-color: white;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
    box-shadow: hsla(240, 5%, 41%, 0.803) 0px 7px 29px 0px;
}

.toggle {
    box-shadow: inset 100px 0 0 0 #E8E6E3;
    color: #181A1B;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.grid {
    border: .5px solid gray;
}

input[type="range"] {
    display: block;
    --webkit-appearance: none;
    background-color: #bdc3c7;
    width: 300px;
    height: 5px;
    border-radius: 10px;
    margin: 10% auto;
    outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #181A1B;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #bdc3c7;
    cursor: pointer;
    transition: .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
    border: 2px solid #e3e9ed;
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.3);
}

.value {
    font-size: 2em;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 100px;
    width: 100px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border: 0;
    border-radius: 50%;
}

input[type="color"]::-moz-color-swatch{
    border: 0;
    border-radius: 50%;
}
